@import "styles/variables.scss";

.results__layout {
  margin-top: 10rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  &-upper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &-group {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
  }
}
  