@import "styles/variables.scss";

.user__page {
  margin-top: 9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-top {
    display: flex;
    flex-direction: row;
    width: 62.7%;
    justify-content: center;
    align-items: center;
    background-color: $color-light;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  &-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: $white;
    border: 1px solid $color-dark;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;
    margin-bottom: 1rem;

    &-list {
      margin-bottom: 2rem;
      padding: 1rem;
    }
  }

  &-h2 {
    align-content: center;
    width: 37rem;
    padding: 0.5rem;
  }

  &-controls {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
  }

  &-avatar {
    height: 250px;
    width: 250px;
    padding: 1rem;
    margin-left: 3rem;
    border-radius: 100%;
    background-color: whitesmoke;
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 120px;
    font-size: 1.2rem;
    background-color: $white;
    border: 1px solid $color-dark;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;

    & p {
      margin: 0.5rem 0.5rem;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    button {
      width: 245px;
      height: 60px;
      font-size: 1.2rem;
      justify-content: space-around;
      align-items: center;
      font-size: 1.3rem;

      svg {
        padding-right: 0.5rem;
      }
    }
  }

  &--content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.head {
  margin-bottom: 2rem;
  width: 800px;
  padding: 1rem;
}