@import "styles/variables.scss";

.user__page {
  margin-top: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-top {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  &-title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: $white;
    border: 1px solid $color-dark;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;
    margin-bottom: 1rem;
  }

  &-h2 {
    align-content: center;
    width: 37rem;
    padding: 0.5rem;
  }

  &-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
  }

  &-avatar {
    height: 300px;
    width: 300px;
    margin-left: 3rem;
  }

  &-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 120px;
    font-size: 1.2rem;
    background-color: $white;
    border: 1px solid $color-dark;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;

    & p {
      margin: 0.5rem 0.5rem;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    button {
      width: 225px;
      height: 60px;
      font-size: 1.2rem;
    }
  }

  &--content {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}