@import "styles/variables.scss";

#description {

  h2 {
  text-align: center;
  }
}

#top5 {
  width: 24rem;

  section {
    display: flex;
    flex-direction: row;
    width: 22rem;
  }

  h4 {
    text-align: center;
    padding: 5px;
    width: 12em;
    margin: 30px 10px 10px 0;

  }

  button {
    height: 5em;
    margin: 30px 0px 10px 10px;
    border-radius: 5px;

    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.25rem;
    border: $color-darker 2px outline;
    background-color: $color-dark;
    color: $color-lightest;
    box-shadow: 0px 4px 8px rgba($color-dark, 0.5);
  
  }

  #top5-list {
    text-align: center;
    width: 20rem;
  }

  mark {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;
    background-color: inherit;
    margin: 0.5rem 0;

    p {
      margin: 0;
    }
  }
}

#desc-top {
  display: flex;
  justify-content: space-between;
}
