#desc-top {
  display: flex;
  justify-content: space-between;
}

#description {
  
  background-color: whitesmoke;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0 5px;
  width: 600px;

  h2 {
  text-align: center;
  }
}

#top5 {
  

  padding: 0 5px;
  width: 250px;

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h4 {
    background-color: whitesmoke;
    border: 2px solid grey;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    width: 150px;
    margin: 30px 10px 10px 0;

  }

  button {
    height: 5em;
    margin: 30px 0px 10px 10px;
  }

  #top5-list {    
    background-color: whitesmoke;
    border: 2px solid grey;
    border-radius: 4px;
    text-align: center;
  }

  mark {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9em;
    background-color: inherit;
    margin: 5px;

    p {
      margin: 0;
    }
  }
}
