@import "styles/variables.scss";

#root {
  display: flex;
  justify-content: center;
}

#ingredient-page {
  width: 66rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: $color-light;
  padding: 1rem;
  border-radius: 0.5rem;

  & img {
    height: 18em;
    width: 18em;
    border-radius: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
  }
}

#name-brief h1.text-container {
  text-align: center;
  margin: 0;
  width: 35rem;
}

.text-container {
  background-color: whitesmoke;
  border: 2px solid grey;
  border-radius: 4px;
  width: 35rem;
  padding: 0 1rem;

  p, li, mark {
    font-family: $secondary;
  }
}

.row-group {

  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16pt;
  margin: 1em 0.5em;
  justify-content: space-between;
}

