#name-avatar img {
  height: 3rem;
  width: 3rem;
}

#comments-feed h2 {
  text-align: end;
  padding-top: 3rem;
  padding-right: 20rem;
}

#comment {
  justify-content: flex-end;
}

#name-avatar {
  align-items: flex-start;
}