#comments-feed h2 {
  text-align: end;
  padding-top: 3rem;
  padding-right: 20rem;
}

#comment {
  justify-content: flex-end;

  #comment-container {
    padding: 0;
    width: 37rem;
  }

  #comment-text {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
    text-align: end;
    padding: 0 1rem 0.2rem 0;
    background-color: darkgray;
    color: honeydew;
  }
}

#name-avatar {
  display: flex;
  align-items: center;
  text-align: end;

  mark {
    background-color: inherit;
    font-size: 1rem;
  }
  
  img {
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
    border-radius: 100%;
  }
}


