@import "styles/variables.scss";

#root {
  display: flex;
  justify-content: center;
}

#recipe-page {
  width: 70rem;
  margin-top: 9rem;
  margin-bottom: 8rem;
  background-color: $color-light;
  padding: 1rem;
  border-radius: 0.25rem;

  & #img {
    height: 27rem;
    width: 27rem;
    border-radius: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
  }

  & ul {
    padding-left: 0;
  }
  
  & ol {
    padding-left: 1.25rem;
  }
}


h1.text-container {
  text-align: center;
  margin: 0;
  width: 45rem;
  padding: 1rem;
}

#edit-remix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20rem;
  
  button {
    width: 6rem;
    font-size: 1rem;
  }

  svg {
    margin-right: 0.5rem;
  }
}

#flavor-result-str {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#instruct-strength-flavour {
  display: flex;
  align-items: center;
}

#flavour {
  width: 9.5rem;
  font-size: 1rem;
  padding: 0.5rem;
}

#strength-flavour {
  margin-left: 4rem;
}

#result-strength {
  width: 9.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

#common-drink {
  width: 20rem;
}

#ingredients li {
  display: flex;
  justify-content: space-between;
}

.m1rem-tb {
  margin: 1rem 0;
}

.instruction__line {
  margin: 0.5rem 0;
}

.recipe__ingredient__line {
  margin: 0.5rem 0;
}