$color-darker: #975962;
$color-dark: #B86B77;
$color-medium: #db808d;
$color-lighter: #EABFB9;
$color-light: #F6CFCA;
$color-lightest: #FFE8E5;
$white: #FFF;
$black: #000;

$secondary: 'Oxygen', sans-serif;
$main-font: 'Ubuntu', sans-serif;