@import "styles/variables.scss";

#search-page {
  margin-top: 150px;
}

#barthender {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  #named-with {
  
    width: 62rem;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 3em;
  
    h3 {
      width: 15rem;
      text-align: center;
    }

    .search-name-input {
      width: 17rem;
      height: 1.5em;
      padding: 0.5rem;
      font-size: 1.6rem;
      border: 1px solid $color-lighter;
      border-radius: 0.25rem;
      box-sizing: border-box;
      resize: none;

      &:focus {
        outline: none;
        border: 1px solid $color-dark;
        box-shadow: 0 0 10px $color-medium;
      } 
    }
  }

  #ingredients-list {
    width: 20rem;

    button {
      width: 10rem;
      height: 3rem;
      text-align: center;
      margin: 2rem 0;
    }
  }

}

#drop-menu {
  display: flex;
  flex-direction: row;
  width: 35rem;

  
  .category-element {
    padding: 1rem 0;
    background-color: salmon;
    color: white;
    width: 7rem;
    text-align: center;
    
    mark.category {
      background-color: salmon;
      color: white;
      width: inherit;

    }
    
    &:hover {
  
      background-color: antiquewhite;
      color: darkred;
      

      #ingredients button.ingredient-element {
          display: flex;    
      }
    }

    #ingredients button.ingredient-element {
      font-size: 1.2rem;
      margin: 0;
      padding: 1rem 0;
      width: 28rem;
      height: 1.8rem;
      border-radius: 0;
      border: none;
      padding: 0;
      display: none;
  
      &:hover {
        background-color: white;
        color: black;
      }
  }
    
    
  }
}


#selected-name-remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .button {
    width: 3rem;
  }
}

.search__button {
  font-size: 1.5rem;
  width: 20rem;
  height: 5rem;
  border: $color-darker 2px outline;
  border-radius: 0.25rem;
  background-color: $color-dark;
  color: $color-lightest;
  box-shadow: 0px 4px 8px rgba($color-dark, 0.5);

  &:hover {
    box-shadow: 2px 6px 12px rgba($color-dark, 0.5);
  }
}

.search__results__header {
  text-align: center;
  margin: 4rem 0;
}