@import "styles/variables.scss";

.dropbtn {
  background-color: $color-light;
  color: $color-dark;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;

  &-content {
    display: none;
    position: absolute;
    width: 100%;
    border-radius: 0.25rem;
    background-color: $color-light;
    box-shadow: 0px 4px 8px rgba($color-dark, 0.5);
    z-index: 1;
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba($color-dark, 0.5);
}

.dropdown:hover .dropbtn {
  box-shadow: 0px 0.25rem 0.75rem rgba($color-dark, 0.5);
}

a {
  color: $color-dark;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  
  &:hover {
    background-color: $color-medium;
    box-shadow: 0px 0.25rem 0.75rem rgba($color-dark, 0.5);
  }
}