@import "styles/variables.scss";

.fifth-level-menu {
  position: absolute;
  top: -50px;
  right: -240px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 0.5rem;
  background: $color-light;
  box-shadow: 0 1px 3px $color-dark, 0 1px 2px $color-dark;
}

.fifth-level-menu > li {
  height: 40px;
  background: $color-light;
  color: $color-darker;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  text-decoration: none;
}
.fifth-level-menu > li:hover {
  background: $color-darker;
  color: $color-light;

  & li:hover > a {
    color: $color-light;
  }
}

.fourth-level-menu {
  position: absolute;
  top: -40px;
  right: -120px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 0.5rem;
  background: $color-light;
  box-shadow: 0 1px 3px $color-dark, 0 1px 2px $color-dark;
}

.fourth-level-menu > li {
  height: 40px;
  background: $color-light;
  color: $color-darker;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  text-decoration: none;
}
.fourth-level-menu > li:hover {
  background: $color-darker;
  color: $color-light;

  & li:hover > a {
    color: $color-light;
  }
}

.third-level-menu {
  position: absolute;
  top: 0;
  right: -120px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 0.5rem;
  background: $color-light;
  box-shadow: 0 1px 3px $color-dark, 0 1px 2px $color-dark;
}

.third-level-menu > li {
  height: 40px;
  background: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-darker;
  border-radius: 0.5rem;
  text-decoration: none;
}

.third-level-menu > li:hover {
  background: $color-darker;
  color: $color-light;

  & li:hover > a {
    color: $color-light;
  }
}

.second-level-menu {
  position: absolute;
  top: 42px;
  left: 0;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-top: none;
  border-radius: 0.5rem;
  background: $color-light;
  box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;
  text-decoration: none;
}

.second-level-menu > li {
  height: 40px;
  border-top: none;
  background: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  text-decoration: none;
}
.second-level-menu > li:hover {
  background: $color-darker;
  color: $color-light;

  & li:hover > a {
    color: $color-light;
  }
}

.top-level-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-level-menu > li {
  position: relative;
  height: 50px;
  width: 120px;
  background: $color-light;
  color: $color-darker;
  min-width: 120px;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  margin-left: 0.5rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.top-level-menu li:hover > ul {
  display: inline;
}

a {
  text-decoration: none;
  color: $color-darker;

  &:hover {
    text-decoration: none;
    color: $color-light;
  }
}


.dropmenu__categories
{
&__container{
  position: absolute;
  float: left;
  top: 0px;
  left: 113px;
  display: flex;
  flex-direction: column;

  background: $color-light;
  color: $color-darker;
  min-width: 120px;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
  margin-left: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;
  display: none;

}


  &__list {
    background: $color-light;
    color: $color-darker; 
    height: 40px;
    border-radius: 0.5rem;


    
    &__name {
      background: $color-light;
      color: $color-darker; 
      padding: 0.75rem 0;
      width: 120px;

      border-radius: 0.5rem;

      &:hover {
        color: $color-light;
        background-color: $color-darker;
      }

    }
  }
}

.dropmenu__ingredients_li {

  &:hover {

    .dropmenu__categories__container {

    display: flex;

    }
  }
}

.dropmenu__ingredients
{
&__container{
  position: absolute;
  float: left;
  top: 0px;
  left: 113px;
  display: flex;
  flex-direction: column;

  background: $color-light;
  color: $color-darker;
  min-width: 120px;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.75rem;
  margin-left: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;
  display: none;

}


  &__list {
    background: $color-light;
    color: $color-darker; 
    border-radius: 0.5rem;   
    background: $color-light;
    color: $color-darker; 
    padding: 10px 0;
    width: 120px;

    border-radius: 0.5rem;

    &:hover {
      color: $color-light;
      background-color: $color-darker;
    }

  }
}

.dropmenu__categories__list {
  &:hover {

    .dropmenu__ingredients__container {

    display: flex;

    }
  }
}