@import "styles/variables.scss";

.fourth-level-menu {
  position: absolute;
  top: -50px;
  right: -122px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 0.5rem;
  border: 1px solid $color-lighter;
  box-shadow: 0 1px 3px $color-medium, 0 1px 2px $color-medium;
}

.fourth-level-menu > li {
  height: 40px;
  background: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-level-menu > li:hover {
  background: $color-lighter;
  box-shadow: 0 1px 3px $color-dark, 0 1px 2px $color-dark;
}

.third-level-menu {
  position: absolute;
  top: 0;
  right: -122px;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 0.5rem;
  border: 1px solid $color-lighter;
  box-shadow: 0 1px 3px $color-medium, 0 1px 2px $color-medium;
}

.third-level-menu > li {
  height: 40px;
  background: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-level-menu > li:hover {
  background: $color-lighter;
  box-shadow: 0 1px 3px $color-medium, 0 1px 2px $color-medium;
}

.second-level-menu {
  position: absolute;
  top: 45px;
  left: 0;
  width: 120px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  border-radius: 0.5rem;
  border-top: 0;
  border: 1px solid $color-lighter;
  box-shadow: 0 1px 3px $color-medium, 0 1px 2px $color-medium;
}

.second-level-menu > li {
  height: 40px;
  background: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-level-menu > li:hover {
  background: $color-lighter;
}

.top-level-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-level-menu > li {
  position: relative;
  height: 50px;
  width: 120px;
  background: $color-light;
  color: $color-darker;
  min-width: 120px;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  margin-left: 0.5rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top-level-menu li:hover > ul {
  display: inline;
  border-radius: 0.25rem;
}
