@import "styles/variables.scss";

.navbar {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-height: 110px;
  min-width: 100vw;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 1px solid;
  border-color: $color-light;
  color: $color-lightest;
  background-color: $color-dark;
  box-shadow: 0px 4px 8px rgba($color-dark, 0.5);
  
  &--centered {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 50px;
    height: 50px;
  }

  &__title {
    margin-bottom: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    color: $color-lightest;
  }

  &__login {
    display: flex;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

.dropbtn {
  background-color: $color-light;
  color: $color-darker;
  min-width: 120px;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
  margin-left: 0.5rem;
}