
.login__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0;
  margin-right: 2rem;
  margin-bottom: 0.75rem;
}