@import "styles/variables.scss";

.button {
    background-color: $color-dark;
    width: 150px;
    height: 50px;
    color: $white;
    border: none;
    border-radius: 0.25rem;
}

.button:hover {
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  opacity: 1;
}

.button:focus {
  outline: none;
  text-decoration: none;
}

