@import "styles/variables.scss";

.button-know-more {
  width: 20rem;
  margin-top: 0.3rem;
}

.did-you-know {

  padding: 10px 0;
  border-bottom: 3px solid $color-dark;

  &__h2 {
    //height: 5rem;
    padding: 2rem 0;
    font-size: 24pt;
  }
}

.funfact {

&__text {
  font-size: 18pt;
  font-family: $secondary;
  font-weight: bold;

  &__section {
    margin-bottom: 14px;
  }
}
}