@import "styles/variables.scss";

.recipe__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &-item {
    list-style-type: none;
    width: 900px;
    height: 800px;
    font-size: inherit;
    margin-bottom: 2rem;
  }
}
