@import "styles/variables.scss";

.recipe__card {
  
  width: 550px;
  height: 800px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  background: $color-light;
  box-shadow: 0 2px 4px $color-dark, 0 1px 2px $color-dark;
  border-radius: 0.5rem;

  &--header {
    width: 100%;
    height: 250px;
    background: center / cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &--title {
    width: 100%;
    margin-top: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &-h2 {
      background: $white;
      border-radius: 0.25rem;
      padding: 1.5rem;
      width: 75%;
    }
  }

  &--tags {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid $color-dark;
    padding-bottom: 1.25rem;
  }

  &--strength {
    background-color: $color-darker;
    color: $color-lightest;
    padding: 10px;
    border-radius: 0.25rem;
  }

  &--flavour {
    background-color: $color-darker;
    color: $color-lightest;
    padding: 10px;
    border-radius: 0.25rem;
  }

  &--list {
    padding: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 200px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  &--ingredients {
    margin: 0px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: $black;
    background-color: $white;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    width: 100%;

    & li {
      list-style-type: none;
      display: flex;
      padding: 0.25rem;
    }

    & li .amount {
      margin-left: 1rem;
      margin-right: 1.5rem;
      width: auto;
      color: $black;
    }
  }

  &--summary {
    color: $color-darker;
    background: $white;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
  }

  &--badges {
    border-top: 3px solid $color-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 0.25rem;

  }

  &--details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 0.25rem;
    color: $color-lightest;
    background-color: $color-darker;
    box-shadow: 0 1px 3px $color-darker, 0 1px 3px $color-darker;

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 8px $color-darker, 0 2px 4px $color-darker;
    }

    & p {
      margin-left: 0.75rem;
    }
  }

  &--radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    margin-top: 1rem;

    &-container {
      width: 100%;
      background: $color-lightest;
      border: 1px solid $color-lighter;
      border-radius: 4px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 15px;
      padding: 5px;
      flex-wrap: wrap;
      flex-grow: 2;
    }
  }
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid $color-dark;

  &__radio {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  button {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 40px;
  }
}

.recipe__card--radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .2s all ease-in-out;
  width: 80px;
}

.recipe__card--radio-container input {
  display: none;
}

.recipe__card--radio-container input:checked + label {
  background: $color-lighter;
  border: 1px solid $color-dark;
}

.recipe__form--radio-container label {
  padding: 5px;
  white-space: nowrap;
  width: auto;
  min-width: 80px;
}