@import "styles/variables.scss";

.recipe__list {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    & li {
        height: 735px;
        width: 500px;
        font-size: inherit;
        margin-bottom: 1rem;
    }
}