@import "styles/variables.scss";

.recipe__form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: $color-light;
  padding: 20px;
  width: 600px;
  margin-top: 10rem;
  margin-bottom: 6rem;

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &_inputs {
      width: 100%
    }
  }

  &--text {
  width: 75%;
  max-height: 2.5rem;
  padding: 0.75rem;
  border: 1px solid $color-medium;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  resize: none;
  }

  &--paragraph {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid $color-medium;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  resize: none;
  }

  &--radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;

    &-container {
      width: 100%;
      background: $color-lightest;
      border: 1px solid $color-medium;
      border-radius: 4px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 15px;
      padding-bottom: 5px;
      padding-top: 5px;
      flex-wrap: wrap;
      flex-grow: 2;
    }
  }

  &--ingredients {
    margin: 0px;
    padding: 0px;
    margin-bottom: 1rem;
    padding-left: 4px;
    font-size: 1rem;
    color: $color-dark;

    & li {
      list-style-type: none;
      display: flex;
      margin: 4px 0px;
    }

    & li .amount {
      width: 80px;
      color: $color-dark;
    }
  }

  &--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recipe__form--radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 80px;
}

.recipe__form--radio-container input {
    display: none;
}

.recipe__form--radio-container input:checked + label {
    background: $color-medium;
    border: 1px solid $color-dark;
}

.recipe__form--radio-container label {
    padding: 5px;
    white-space: nowrap;
    width: auto;
    min-width: 80px;
}

button {
  background-color: $color-dark;
  width: 125px;
  height: 50px;
  color: $white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h4 {
  margin: 0;
  padding: 0.5rem;
}