@import "styles/variables.scss";

.recipe__form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: $color-light;
  padding: 20px;
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 6rem;

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_inputs {
      width: 100%
    }
  }

  &--text {
  width: 75%;
  max-height: 2.5rem;
  padding: 0.75rem;
  border: 1px solid $color-medium;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  resize: none;
  }

  &--paragraph {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid $color-medium;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  resize: none;
  }

  &--radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;

    &-container {
    width: 430px;
    background: $color-lightest;
    border: 1px solid $color-medium;
    border-radius: 4px;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    }
  }
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recipe__form--radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 80px;
}

.recipe__form--radio-container input[type="radio"] {
    display: none;
}

.recipe__form--radio-container input[type="radio"]:checked + label {
    background: $color-medium;
    border: 1px solid $color-dark;
}

button {
  background-color: $color-dark;
  height: 50px;
  color: $white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h4 {
  margin: 0;
  padding: 0.5rem;
}